*,*::before,*::after {
    box-sizing: border-box;
}
body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    // margin between body and header logo
    margin-top: 123px;
    background: url(../images/bg-header-mobile.png) no-repeat;
    background-size: contain;

    @include tablet {
        background: url(../images/bg-header-desktop.png) no-repeat;
    }
    @include desktop {
        margin-top: 130px;
        background: url(../images/bg-header-desktop.png) no-repeat;
    }
}
img {
    width: 100%;
    height: auto;
}
h1,h2,h3 {
    color: $dark-grayish-blue;
    line-height: 1.25;
}
header {
    margin-bottom: 8.6rem;
    @include desktop {
        margin-bottom: 7.94rem;
    }
}
p {
    color: $grayish-blue;
    font-size: 16px;
    line-height: 1.6;
}
section {
    width: 83%;
    margin-left: auto;
    margin-right: auto;
}
footer {
    background-color: lighten($grayish-blue, 30%);
}
.container {
    text-align: center;
}
.logo {

    &-header,
    &-footer {
        margin-left: auto;
        margin-right: auto;
    }

    &-header {
        width: 125px;
        margin-bottom: 60px;

        @include desktop {
            margin-bottom: 52px;
        }
    }

    &-footer {
        width: 55px;
    }
}
.header__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    @include desktop {
        font-size: 2.8rem;
    }
}
.header__paragraph {
    width: 99%;
    max-width: 700px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;

    @include desktop {
        font-size: 1.25rem;
    }
}
