.button {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-bottom: 1.75rem;

    @include desktop {
        width: auto;
    }

    &:nth-of-type(1) {
        margin-top: 32px;

        @include desktop {
            margin-top: 27px;
            margin-right: 1rem;
        }
    }
    
    &--ios {
        background-color: $strong-cyan;
        box-shadow: 0 2px 0 2px darken($strong-cyan, 5%);
        @include desktop {
            &:hover {
                opacity: .6;
            }
        }
    }
    &--mac {
        background-color: $light-blue;
        box-shadow: 0 2px 0 2px darken($light-blue, 5%);
        @include desktop {
            &:hover {
                opacity: .6;
            }
        }
    }
}