.logo-footer {
    padding-top: 3.3rem;
    padding-bottom: 1.7rem;
}
.info {
    display: grid;
    margin-bottom: 2.5rem;
    &__link {
        text-decoration: none;
        color: $dark-grayish-blue;
        margin-top: .9rem;
        margin-bottom: .9rem;
    }
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    &__img {
        width: 24px;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    a {
        color: hsl(228, 45%, 44%);
    }
}